
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

