<div class="container-header">
    <div class="overlay">
        <svg class="icon-booster">
            <!-- <use href="./img/symbol-defs.svg#icon-logo-6"> -->
            <image href="./img/logo-svg.svg" class="svg-icon-booster"> 
        </svg>
        <div class="container-info">
            <h1 class="find">FIND BEST EVENTS<br>AROUND THE WORLD</h1>
            <div class="container-inputs-header">
                <div class="search-container">
                    <input type="text" class="search-event" id="search-event-js" placeholder="Start searching">
                    <button class="search-btn"><img src="./img/search-btn.png" alt=""></button>
                </div>
                <div class="option-container">
                    <select name="" id="choose-country-select" class="select-box">
                        <option value="">Choose option</option>
                        <option value="US">America</option>
                        <option value="AU">Australia</option>
                        <option value="PL">Poland</option>
                        <option value="BE">Belgium</option>
                        <option value="CA">Canada</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="Dk">Danmark</option>
                        <option value="DE">Germany</option>
                        <option value="IE">Ireland</option>
                        <option value="MX">Mexico</option>
                        <option value="NL">Nederland</option>
                        <option value="NZ">New Zeland</option>
                        <option value="NO">Norge</option>
                        <option value="AT">Austria</option>
                        <option value="ZA">South Africa</option>
                        <option value="FI">Finland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="TW">Taiwan</option>
                        <option value="TR">Turkey</option>
                        <option value="AE">United Arab Emirates</option>
                    </select>
                    <svg class="svg-arrow" style="background-color: transparent;" width="60" height="30">
                        <use href="./img/symbol-defs.svg#icon-triangle-down"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>