
<!-- <button id="myBtn">open modal</button> -->
<div id="myModal" class="modal">
    <!-- <div class="modal-content">
        <p class="close">&times;</p>
        <img class="kolo" src="./img/pic.jpg" alt="">
        <div class="wrapper-content">

            <img class="kvadrat" src="./img/pic.jpg" alt="">
            <div class="text">
                <h2 class="title-text">INFO</h2>
                <p class="p-text">Atlas Weekend is the largest music festival
                    in Ukraine.More than 200 artists will create
                    a proper music festival atmosphere on 10 stages</p>
     
                <h2 class="title-text">WHEN</h2>
                <p class="p-text">2021-06-09
                    20:00 (Kyiv/Ukraine)
                </p>
                        
                <h2 class="title-text">WHERE</h2>
                <p class="p-text">Kyiv, Ukraine VDNH</p>
                    
                <h2 class="title-text">WHO</h2>
                <p class="p-text">The Black Eyed Peas</p>
        
                <h2 class="title-text">PRICES</h2>

                <div class="wrapper-prices standart">
                    <p class="p-prices p-text">Standart 300-500 UAH </p>
                    <button class="buy">BUY TICKETS</button>
                </div>
                <div class="wrapper-prices vip">
                    <p class="p-prices p-text">VIP 1000-1500 UAH</p>
                    <button class="buy">BUY TICKETS</button>
                </div>

            </div>
        </div>
        <button class="inf">MORE FROM THIS AUTHOR</button>
    </div>   -->
</div>