
.wrap-main {
    background-color: #0d0d0d;
}

.container-events {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.card {
    margin: 0 auto;
    width: calc((100% - 5px) / 2);
}

.img-card {
    width: 128px;
    height: 161px;
    flex-shrink: 0;
    border-radius: 50px 0px;
    margin: 0 auto;
}

.title-event {
    color: #DC56C5;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.date {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.place {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width: 768px){
    .card {
        width: calc((100% - 6 * 2px) / 3);
    }

    .img-card {
        width: 180px;
        height: 227px;
    }
}

@media screen and (min-width: 1280px){
    .card {
        width: calc((100% - 8 * 2px) / 4);
    }
}

.load-more {
    text-align: center;
    color: #939393;
}


