

.icon-booster{
    width: 136px;
    height: 67px;
}

.container-header {
    background-image: url(../img/bg-header-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .container-header {
        background-image: url(../img/bg-header-t.jpg);
    }

}

@media screen and (min-width: 1280px){
    .container-header {
        background-image: url(../img/bg-header-d.jpg);
    }

}




