.container-inputs-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-event {
    width: 240px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding-left: 30px;
}

.search-event::placeholder {
    color: #434343;
    font-size: 16px;
}

@media screen and (min-width: 768px){
    .container-inputs-header {
        flex-direction: row;
        padding: 0 100px;
        justify-content: space-evenly;
    }

    .search-event {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px){
    .container-inputs-header {
        padding: 0 355px;
    }
}
